<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="dbName" value="auctions" />
        <add key="auctionStartedSubAddr" value="tcp://172.31.32.21:2100" />
        <add key="auctionStartedAckAddr" value="tcp://*:2300" />
        <add key="bidPlacedAddr" value="tcp://172.31.32.29:2900" />
        <add key="bidPlacedAckAddr" value="tcp://*:2350" />
        <add key="auctionEventPubAddr" value="tcp://*:2360" />     
        <add key="auctionRunningPubAddr" value="tcp://*:2370" />      
        <add key="auctionRunningAckAddr" value="tcp://172.31.32.24:2400" />      
        <add key="bidChangedAckAddr" value="tcp://172.31.32.25:2500" />      
        <add key="auctionOverAckAddr" value="tcp://172.31.32.28:2800" />        
        <add key="auctionStartedTopic" value="AuctionStarted" />      
        <add key="bidPlacedTopic" value="BidPlaced" />      
        <add key="auctionRunningAckTopic" value="ACK AuctionRunning" />
        <add key="bidChangedAckTopic" value="ACK BidChanged" />
        <add key="auctionOverAckTopic" value="ACK AuctionOver" />
        <add key="auctionRunningTopic" value="AuctionRunning"/>
        <add key="auctionOverTopic" value="AuctionOver"/>
        <add key="bidChangedTopic" value="BidChanged"/>
    </appSettings>
</configuration>